.header-menu {
  margin-top: 45px !important;
}

.logo a {
  font-weight: 800;
  font-size: 32px;
  color: #1A1919;
  text-decoration: none;
}

.page-title {
  margin: 130px 0;
}

.main-menu {
  text-align: center;
}

.main-menu ul li {
  margin: 0 15px;
}

.main-menu ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #757575;
}

.main-menu ul li a:hover {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.added-bg-btn {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
